.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.3rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -2px;
  text-transform: uppercase;
}
